# Definición de servicios que se ejecutarán
services:
  # Configuración del servicio de base de datos
  mcsv_db:
    # Nombre del contenedor
    container_name: mcsv_db
    # Imagen de MySQL a utilizar
    image: mysql:8.4
    # Política de reinicio
    restart: always
    # Mapeo de volúmenes para datos persistentes
    volumes:
      - micrm-data:/var/lib/mysql
    # Variables de entorno para configurar MySQL
    environment:
      # Nombre de la base de datos
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      # Contraseña del usuario
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      # Contraseña del usuario root
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    # Mapeo de puertos (host:contenedor)
    ports:
      - "${MYSQL_PORT}:3306"
    # Redes a las que se conectará el servicio
    networks:
      - micrm_network

# Definición de volúmenes persistentes
volumes:
  # Volumen para almacenar datos de MySQL
  micrm-data:
    name: micrm-data # Nombre del volumen

# Definición de redes
networks:
  # Red para la comunicación interna entre servicios de backend
  micrm_network:
    name: micrm_network # Nombre de la red
    driver: bridge # Utiliza el controlador "bridge" por defecto
