server:
    port: 8888

spring:
    application:
        name: mcsv-config
    profiles:
        active: native
    cloud:
        config:
            server:
                native:
                    search-locations: classpath:/config

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
    instance:
        instance-id: ${spring.application.name}:${server.port}
        prefer-ip-address: true
        lease-expiration-duration-in-seconds: 10